    <div class="generic-container">
    <div class="panel panel-default">
        <!-- Default panel contents -->
        <div class="panel-heading" id="custom"><span class="lead">Empleado </span>
        <button type="button" id="custom01" class="btn btn-default btn-sm"
					ng-click="initAddEmployee()"><span class="glyphicon glyphicon-refresh"></span> Limpiar formulario 
	    </button>
        
        </div>
		<div class="panel-body">
	        <div class="formcontainer">
	            
	            <form ng-submit="submit()" name="employeeForm" class="form-horizontal" novalidate>
	                <input type="hidden" ng-model="employeeMgmt.id" id="id" name= "id" />
	                <div class="row">
	                    <div class="form-group col-sm-4">
	                        <label class="col-md-7 control-lable" for="employee">Nombre y apellidos</label>
	                        <div class="col-md-12">
	                            <input type="text" ng-model="employeeMgmt.employee" ng-minlength="5"  id="employee" name="employee" class="form-control input-sm" required />
	                            <div ng-messages="employeeForm.employee.$error" role="alert">
                                <div ng-message="required">Campo obligatorio</div>
                                <div ng-message="minlength">Mínimo 5 caracteres</div>
                                
                                </div>
	                            
	                        </div>
	                    </div>
	                    <div class="form-group col-sm-4" >
	                        <label class="col-md-7 control-lable" for="dni">DNI</label>
	                        <div class="col-md-12">
	                            <input type="text" ng-model="employeeMgmt.dni" id="dni" name="dni" class="form-control input-sm" required />
	                            <div ng-messages="employeeForm.dni.$error" > 
	                            <div ng-message="required">Campo obligatorio</div>                              
                                </div>	
	                        </div>
	                    </div>
	                    <div class="form-group col-sm-4" >
	                        <label class="col-md-7 control-lable" for="birth_date">Fecha de nacimiento</label>
	                        <div class="col-md-12">
	                            <input type="text" ng-model="employeeMgmt.birth_date" pattern="[0-9]{4}-[0-9]{2}-[0-9]{2}" id="birth_date" name="birth_date" class="form-control input-sm" placeholder="aaaa-mm-dd" required />
	                             <div ng-messages="employeeForm.birth_date.$error" ng-messages-multiple> 
	                            <div ng-message="required">Campo obligatorio</div>                              
                                <div ng-message="pattern">Formato no válido. Formato requerido: aaaa-mm-dd (norma ISO 8601)  </div>
                                </div>	   
	                       
	                        </div>
	                    </div>	                    
	                </div>               
	                
	                <div class="row">
	                    <div class="form-group col-sm-4">
	                        <label class="col-md-7 control-lable" for="address">Dirección</label>
	                        <div class="col-md-12">
	                            <input type="text" ng-model="employeeMgmt.address"   id="address" name="address" class="form-control input-sm" required/>
	                            <div ng-messages="employeeForm.address.$error" ng-messages-multiple>
                                <div ng-message="required">Campo obligatorio</div>
                               
                                
                                </div>
	                        </div>
	                    </div>
	                    <div class="form-group col-sm-4" >
	                        <label class="col-md-7 control-lable" for="phone">Teléfono</label>
	                        <div class="col-md-12">
	                            <input type="tel" ng-model="employeeMgmt.phone" id="phone" name="phone" class="form-control input-sm" required/>
	                            <div ng-messages="employeeForm.phone.$error"> 
	                            <div ng-message="required">Campo obligatorio</div>                              
                                
                                </div>	   
	                        </div>
	                    </div>
	                    <div class="form-group col-sm-4">>
	                        <label class="col-md-7 control-lable" for="email">Email</label>
	                        <div class="col-md-12">
	                            <input type="email" ng-model="employeeMgmt.email"  id="email" name="email" class="form-control input-sm" required/>	                            
	                            <div ng-messages="employeeForm.email.$error" ng-messages-multiple> 
	                            <div ng-message="required">Campo obligatorio</div>                              
                                <div ng-message="email">Email no válido</div>
                                </div>	                            
	                        </div>
	                    </div>
	                </div>
	                <div class="row">
	                    <div class="form-group col-sm-4">
	                        <label class="col-md-7 control-lable" for="deparment">Departamento</label>
	                        <div class="col-md-12">
	                            <input type="text" ng-model="employeeMgmt.deparment" id="deparment" name="deparment" class="form-control input-sm" required />
	                            <div ng-messages="employeeForm.deparment.$error" > 
	                            <div ng-message="required">Campo obligatorio</div>                              
                                </div>	
	                        </div>
	                    </div>
	                    <div class="form-group col-sm-4">
	                        <label class="col-md-7 control-lable" for="job_title">Puesto</label>
	                        <div class="col-md-12">
	                            <input type="text" ng-model="employeeMgmt.job_title" id="job_title" name="job_title" class="form-control input-sm" required/>
	                            <div ng-messages="employeeForm.job_title.$error" > 
	                            <div ng-message="required">Campo obligatorio</div>                              
                                </div>	
	                        </div>
	                    </div>
	                    <div class="form-group col-sm-4" >
	                        <label class="col-md-7 control-lable" for="contract">Tipo de contrato</label>
	                        <div class="col-md-12">
	                            <input type="text" ng-model="employeeMgmt.contract" id="contract" name="contract" class="form-control input-sm" required/>
	                            <div ng-messages="employeeForm.contract.$error" > 
	                            <div ng-message="required">Campo obligatorio</div>                              
                                </div>	
	                        </div>
	                    </div>
	                </div>           
	                
	
	                <div class="row">
	                    <div class="form-group col-sm-4">
	                        <label class="col-md-7 control-lable" for="start_date">Fecha de inicio</label>
	                        <div class="col-md-12">
	                            <input type="text" ng-model="employeeMgmt.start_date" pattern="[0-9]{4}-[0-9]{2}-[0-9]{2}" id="start_date" name="start_date" class="form-control input-sm" placeholder="aaaa-mm-dd" required/>
	                            <div ng-messages="employeeForm.start_date.$error" ng-messages-multiple> 
	                            <div ng-message="required">Campo obligatorio</div>                              
                                <div ng-message="pattern">Formato no válido. Formato requerido: aaaa-mm-dd (norma ISO 8601)  </div>
                                </div>	   
	                        </div>
	                    </div>
	                     <div class="form-group col-sm-4" >
	                        <label class="col-md-7 control-lable" for="end_date">Fecha de finalización</label>
	                        <div class="col-md-12">
	                            <input type="text" ng-model="employeeMgmt.end_date" pattern="[0-9]{4}-[0-9]{2}-[0-9]{2}" id="end_date" name="end_date" class="form-control input-sm" placeholder="aaaa-mm-dd" />
	                            <div ng-messages="employeeForm.end_date.$error"> 	                                                          
                                <div ng-message="pattern">Formato no válido. Formato requerido: aaaa-mm-dd (norma ISO 8601)  </div>
                                </div>	   
	                       
	                        </div>
	                    </div>
	                     <div class="form-group col-sm-4" >
	                        <label class="col-md-7 control-lable" for="salary">Salario</label>
	                        <div class="col-md-12">
	                            <input type="number" ng-model="employeeMgmt.salary" id="salary" name="salary" class="form-control input-sm" required />
	                            <div ng-messages="employeeForm.salary.$error" ng-messages-multiple> 
	                            <div ng-message="required">Campo obligatorio</div>	                                                         
                                <div ng-message="number">Formato no válido  </div>
                               
                                </div>	
	                        </div>
	                    </div>	                
	                </div>        
	                

	                <div class="row">
	                    <div class="form-actions floatRight">
	                        <button type="submit" id="custom" class="btn btn-default btn-sm"
							ng-disabled="employeeForm.$invalid">{{buttonText}}</button>	                        
	                        <div class="alert alert-danger margin-top-5" ng-show="message">{{message}}</div>
	                    </div>	                    
	                </div>
	            </form>
    	    </div>
		</div>	
    </div>
    <div class="panel panel-default">
        <!-- Default panel contents -->
        <div class="panel-heading" id="custom"><span class="lead">Lista de empleados</span>       
       
        <input type='text' ng-model='searchText'  class="search-query"  placeholder="Buscar empleado  &#x1F50E"  />
       
        </div>
               
		<div class="panel-body"> 		
		
			<div id="customfont" class="table-responsive">
			<div class="alert alert-info animated fadeOut margin-top-5" ng-show="delMsg">{{deleteMessage}}</div>
		    <div class="alert alert-info animated fadeOut margin-top-5" ng-show="editMsg">{{editMessage}}</div> 
		    <div class="alert alert-info animated fadeOut margin-top-5" ng-show="addMsg" >{{addMessage}}</div>  		        
		        <table class="table table-hover">
		            <thead>
		            <tr class="custom-tr">		                
		                <th>#</th>
						<th>Nombre y apellidos</th>
						<th>DNI</th>
						<th>Fecha de nacimiento</th>
						<th>Dirección</th>
						<th>Teléfono</th>
						<th>Email</th>
						<th>Departamento</th>
						<th>Puesto</th>
						<th>Tipo de contrato</th>
						<th>Inicio</th>
						<th>Finalización</th>
						<th>Salario</th>													
						<th></th>
						<th></th>
		            </tr>
		            </thead>
		            <tbody>
		            <tr id="custom-tr" ng-repeat="user in users | filter:searchText">
		                    <td>{{$index+1}}</td>
							<td>{{user.employee}}</td>
							<td>{{user.dni}}</td>
							<td>{{user.birth_date}}</td>
							<td>{{user.address}}</td>
							<td><a href="skype:{{user.phone}}?call">{{user.phone}}</a></td>
							<td><a href="mailto:{{user.email}}">{{user.email}}</a></td>
							<td>{{user.deparment}}</td>
							<td>{{user.job_title}}</td>
							<td>{{user.contract}}</td>
                            <td>{{user.start_date}}</td>
                            <td>{{user.end_date}}</td>
                            <td>{{user.salary}}</td>
                            							
							<td><button id="custom01" type="button" class="btn btn-outline-info btn-sm" 
									ng-click="initEdit(user)">
									<span id="custom-glyphicon" class="glyphicon glyphicon-edit"></span>
								</button>
							</td>
							<td>
								<button id="custom01" type="button" class="btn btn-outline-info btn-sm"
									ng-click="deleteEmployee(user)">
									<span id="custom-glyphicon" class="glyphicon glyphicon-trash"></span>
								</button>
							</td>
		            </tr>
		            </tbody>
		        </table>
		        </div>		
			</div>
		</div>
    </div>


  