@import url(http://fonts.googleapis.com/css?family=Roboto:100,200,400);
@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:700,400,300);

.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    -moz-font-feature-settings: 'liga';
    -moz-osx-font-smoothing: grayscale;
}


.form-control {
		box-shadow: none;
		border-color: #ddd;
}
.form-control:focus {
		border-color:  #37a000 !important; 
}
.login-form {
        width: 350px;
		margin: 0 auto;
		padding: 30px 0;
}
.login-form form {
        color:   #453E3E;        
        font-family: 'Roboto', sans-serif;
		border-radius: 1px;
    	margin-bottom: 15px;
        background: #fff;
		border: 1px solid #f3f3f3;
        box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.4);
        padding: 30px;
	}
.login-form h4 {
        color:  #7F7F7F;
		text-align: center;
		font-size: 22px;
        margin-bottom: 20px;
        font-weight: 400;
        
}
.login-form .avatar {
        color: #fff;
		margin: 0 auto 30px;
        text-align: center;
		width: 100px;
		height: 100px;
		border-radius: 50%;
		z-index: 9;
		background: #37a000 !important;
		padding: 15px;
		box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.1);
}
.login-form .avatar i {
        font-size: 62px;
}
.login-form .form-group {
        margin-bottom: 20px;
}
.login-form .form-control, .login-form .btn {
		min-height: 40px;
		border-radius: 2px; 
        transition: all 0.5s;
        margin-left:auto;
        margin-right:auto;      
        
}
.login-form .close {
        position: absolute;
		top: 15px;
		right: 15px;
}
.login-form .btn {
		background: #37a000 !important;
		border: none;
		line-height: normal;
}
.login-form .btn:hover, .login-form .btn:focus {
		background: #37a000 !important;
}
.login-form .checkbox-inline {
        float: left;
}
.login-form input[type="checkbox"] {
        margin-top: 2px;
}
.login-form .forgot-link {
        float: right;
}
.login-form .small {
        font-size: 13px;
}
.login-form a {
        color: #4aba70;
}
.btn-lg{
        font-size: 15px;
}

.div-trans {
padding:5px;
background-color: rgba(0, 255, 41, 0.25);
min-height: 350px;
margin-top: 200px;
color: #fff;
-webkit-border-radius: 5px;
-moz-border-radius: 5px;
border-radius: 5px;
margin-bottom:30px;
}
 div-trans .form-control {
        background-color: rgba(255, 255, 255, 0);
}


